<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evebook- Admin </title>
    <link rel="stylesheet" href="/adminLogin.css">
</head>
<body>
    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Admin Login Here</h3>
        <form action="/adminLogin" method="post">
            <div class="inputBox"> <input id="email" type="text" name="email" placeholder="User Email" autocomplete="off"> 
            <input id="password" type="password" name="password" placeholder="Enter Password" autocomplete="off"> </div> 
            <input type="submit"  value="Login" >
        </form> 
    </div>
</body>
</html>