<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Event Management System</title>

    <link rel="stylesheet" href="/contact1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <header class="header">

        <a href="/index" class="logo"><span>e</span>ve<span>b</span>ook</a>

        <nav class="navbar">
            <a href="/index">home</a>
            <a href="/event">events</a>
            <a href="/ticket">Tickets</a>
            <a href="/contact">contact</a>
        </nav>

        <div id="menu-bars" class="fas fa-bars"></div>

    </header>

    <!--actual content-->
    <div class="sign">
        <div class="admin">
            
            <h1 class="admin_login" ><a href="./adminLogin" class="admin_login">Admin Login</a></h1>
        </div>
            <div class="container-xxl ">
                <div class="container">
                    <div class="row g-2 ">
                        <div class="container-xxl ">
                            <div class="container">
                                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                                    
                                    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; color: antiquewhite; margin-top: 0;">Feel free to Contact with us</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-20 col-md-25 mt-5">
                            <form class="row g-3">
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label" style="color: antiquewhite;font-size: 20px;">First Name</label>
                                    <input type="text" class="form-control" id="fathername">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label" style="color: antiquewhite;font-size: 20px;">Last Name</label>
                                    <input type="text" class="form-control" id="mothername">
                                </div>
                                <div class="col-md-6">
                                    <label for="date" class="form-label" style="color: antiquewhite;font-size: 20px;">D.O.B</label>
                                    <input type="date" name="date" class="form-control" id="date" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputcon" class="form-label" style="color: antiquewhite;font-size: 20px;">Contact no.</label>
                                    <input type="number" class="form-control" id="inputcon">
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress" class="form-label" style="color: antiquewhite;font-size: 20px;">Address</label>
                                    <input type="text" class="form-control" id="Address" placeholder="1234 Main St">
                                </div>
                                <div class="col-6">
                                    <label for="inputAddress2" class="form-label" style="color: antiquewhite;font-size: 20px;">Email</label>
                                    <input type="text" class="form-control" id="email" placeholder="Your email">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label" style="color: antiquewhite;font-size: 20px;">Password</label>
                                    <input type="password" class="form-control" id="inputPassword4">
                                  </div>
                                <div class="col-md-6">
                                    <label for="inputCity" class="form-label" style="color: antiquewhite;font-size: 20px;">City</label>
                                    <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="col-md-4">
                                    <label for="inputState" class="form-label" style="color: antiquewhite;font-size: 20px;">State</label>
                                    <select id="inputState" class="form-select">
                                        <option selected>Choose...</option>
                                        <option>Delhi</option>
                                        <option>West Bengal</option>
                                        <option>MP</option>
                                        <option>UP</option>
                                        <option>Chennai</option>
                                        <option>Punjab</option>
                                        <option>Odisa</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="inputZip" class="form-label" style="color: antiquewhite;font-size: 20px;">Zip</label>
                                    <input type="number" class="form-control" id="inputZip">
                                </div>
                                <div class="col-20 mt-5" >
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
            <section class="newslatter-section">
                <div class="container">
                    <div class="newslatter-inner set-bg">
                        <div class="ni-text">
                            <h3>Subscribe EveBook</h3>
                            <p>Subscribe and don't miss anything</p>
                        </div>
                        <form action="#" class="ni-form">
                            <input type="text" placeholder="Your email">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </section>
    
</body>

</html>