<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Event Management System</title>


    <!-- custom css file link -->
    <link rel="stylesheet" href="/event.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

    <!--header section starts-->
    <header class="header">

        <a href="/index" class="logo"><span>e</span>ve<span>b</span>ook</a>

        <nav class="navbar">
            <a href="/index">home</a>
            <a href="/event">events</a>
            <a href="/ticket">Tickets</a>
            <a href="/contact">contact</a>
        </nav>

        <div id="menu-bars" class="fas fa-bars"></div>

    </header>

    <!--header section ends -->
    <!-- home -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./images/audience-1853662_1280.jpg" class="d-block w-100 " alt="...">
                <div class="overlay"></div>
                <div class="caption">
                    <h2><span style="font-size: 120px;color: goldenrod;">E</span>vents
                    </h2>
                </div>
            </div>
            
        </div>
       
    </div>
    <!-- home 2 -->
    <div class="text1">
        <h1>Trending events</h1>
        <div class="text">
            <div class="card" style="width: 18rem;">
                <img src="./images/slide-1.jpg" class="card-img-top" alt="...">
                <div class="card-body"style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title" style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">Fassils Tour</h5>
                    <p class="card-text"style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true">&nbsp; Sept 10 | 6pm</i>
                    <br><i class="fa fa-map-marker" aria-hidden="true">&nbsp;Midnapure</i>
                    <br> 799/- onwards</p>
                    
                    <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="./images/78YpIkbEsTZsX.jpg!w700wp" class="card-img-top" alt="...">
                <div class="card-body"style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">Street food fest</h5>
                    <p class="card-text"style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true">&nbsp; Every Sunday June | 5pm-9pm</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true">&nbsp;Sudiram street</i>
                        <br> 399/- onwards</p>
                        <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="./images/stand-up-comedy-poster-template_198113-9.avif" class="card-img-top" alt="...">
                <div class="card-body "style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">Standup Comedy</h5>
                    <p class="card-text"style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true">&nbsp; July 20 | 6pm</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true">&nbsp;Your club,Kolkata</i>
                        <br> 599/- onwards</p>
                        <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="./images/DlRL4fSU0AAiu52.jpeg" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">The Anupam Roy Band</h5>
                    <p class="card-text"style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true">&nbsp; Aug 23 | 6pm</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true">&nbsp;Rabindra Bhaban</i>
                        <br> 799/- onwards</p>
                        <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="./images/ipl-cricket-live-matches-post-template-design-7cfeb9da44d2cf950e7cccef01a83267_screen.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body"style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">IPL match</h5>
                    <p class="card-text"style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true">&nbsp; May 26 | 3:30pm</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true">&nbsp;EDEN garden</i>
                        <br> 999/- onwards</p>
                        <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="./images/1000_F_380046141_fF6tg0auzqzW6EAk7nSseAnRB9jmtLtO.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body"style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">Book festival</h5>
                    <p class="card-text"style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true">&nbsp; Aug 3-12 | 4:30pm-9:00pm</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true">&nbsp;Rabindra Bhaban</i>
                        <br> 299/- onwards</p>
                        <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="./images/theater-festival-poster-template-pu2em3d266d52d.webp" class="card-img-top" alt="...">
                <div class="card-body"style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">Theater Festival</h5>
                    <p class="card-text"style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true">&nbsp; May 10-28 | 5:00pm</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true">&nbsp; Rabindra Sadan</i>
                        <br> 499/- onwards</p>
                        <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="./images/istockphoto-1159749549-612x612.jpg" class="card-img-top" alt="...">
                <div class="card-body"style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">Summer Festival</h5>
                    <p class="card-text" style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true" >&nbsp; Aug 2 | 6:00pm-00:00am</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true" >&nbsp; The Park</i>
                        <br> 599/- onwards</p>
                        <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
        </div>

    </div>
    <!-- event -->
    <div class="find">
        <h1>Find New Experiences</h1>
        <div class="event">
            <div class="event1">
                <img
                    src="./images/https___media.insider.in_image_upload_c_crop,g_custom_v1623313209_wjapklp7hrnalamjkvad.png">
            </div>
            <div class="event1">
                <img
                    src="./images/https___media.insider.in_image_upload_c_crop,g_custom_v1710329441_ka0czevxgsckb7qvdygj.png">
            </div>
            <div class="event1">
                <img src="./images/zi16tkrn0qqs84d92hah.webp">
            </div>
            <div class="event1">
                <img src="./images/putphvcf3eqajqcrchn8.webp">
            </div>
        </div>
    </div>
    <!-- event 1 -->
    <div class="find1">
        <h1><i class="fa fa-music" aria-hidden="true">&nbsp;Music</i></h1>
        <div class="text2">
            <div class="card" style="width: 20rem;">
                <img src="./images/bismil.jpg" class="card-img-top" alt="...">
                <div class="card-body"style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">Bismil ki Mehfil</h5>
                    <p class="card-text" style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true" >&nbsp; May 18 | 6:00pm</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true" >&nbsp; JW Marrriott Hotel</i>
                        <br> 1599/- onwards</p>
                        <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="./images/music.jpg" class="card-img-top" alt="...">
                <div class="card-body"style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">Mame Khan Live</h5>
                    <p class="card-text" style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true" >&nbsp; May 25 | 6:00pm</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true" >&nbsp; Roots Kolkata</i>
                        <br> 1499/- onwards</p>
                        <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="./images/musicfemale.jpg" class="card-img-top" alt="...">
                <div class="card-body"style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">Chiroshokha</h5>
                    <p class="card-text" style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true" >&nbsp; June 18 | 6:00pm</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true" >&nbsp; GD Birla Sabhaghor</i>
                        <br> 299/- onwards</p>
                        <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="./images/sunglass.jpg" class="card-img-top" alt="...">
                <div class="card-body"style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">Divine Tour</h5>
                    <p class="card-text" style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true" >&nbsp; June 8 | 6:00pm</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true" >&nbsp; JW Marrriott Hotel</i>
                        <br> 999/- onwards</p>
                        <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- workshop -->
    <div class="find2">
        <h1><i class="fa fa-pencil" aria-hidden="true">&nbsp;Workshop</i></h1>
        <div class="text3">
            <div class="card" style="width: 20rem;">
                <img src="./images/workshop.jpg" class="card-img-top" alt="...">
                <div class="card-body"style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">Calcutta Table Tannis Club</h5>
                    <p class="card-text" style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true" >&nbsp; July 8 | 10:00am</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true" >&nbsp; Ballygunge park</i>
                        <br> 399/- onwards</p>
                        <a href="/purchase" target="_blank" class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="./images/workshop1.png" class="card-img-top" alt="...">
                <div class="card-body"style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">How to speak englis in corporate life</h5>
                    <p class="card-text" style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true" >&nbsp; June 28 | 6:00pm</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true" >&nbsp; Girish park</i>
                        <br> 499/- onwards</p>
                        <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <img src="./images/workshop2.webp" class="card-img-top" alt="...">
                <div class="card-body"style="background-color: rgb(245, 234, 220); border: none;">
                    <h5 class="card-title"style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">Let's make Flims:Summer camp</h5>
                    <p class="card-text" style="font-weight: bold;"><i class="fa fa-calendar-check-o" aria-hidden="true" >&nbsp; May 8 - May 30 | 5:00pm</i>
                        <br><i class="fa fa-map-marker" aria-hidden="true" >&nbsp; kolkata center for creativity</i>
                        <br> 999/- onwards</p>
                        <a href="/purchase" target="_blank"  class="btn" style="background-color: rgb(105, 71, 28);color: white;">Buy now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- artist -->
    <div class="art">
        <h1>Artists</h1>
        <div class="artist">
            <div class="artist1">
                <img
                    src="./images/arijit.jpg">
            </div>
            <div class="artist1">
                <img
                    src="./images/shan.png">
            </div>
            <div class="artist1">
                <img src="./images/zakir.jpg">
            </div>
            <div class="artist1">
                <img src="./images/shreya.jpg">
            </div>
        </div>
    </div>
    <!-- food -->
    <div class="best">
        <h1><i class="fa fa-cutlery" aria-hidden="true"> &nbsp;Food</i></h1>
        <div class="grid">
            <div class="food">
                <img src="images/food1.jpg" alt="Avatar" class="image">
                <div class="dish">
                    <div class="text5">Buffet(Lenin cruises)</div>
                </div>
            </div>
            <div class="food">
                <img src="images/food2.jpg" alt="Avatar" class="image">
                <div class="dish">
                    <div class="text5">Sunset package</div>
                </div>
            </div>
            <div class="food">
                <img src="images/food3.png" alt="Avatar" class="image">
                <div class="dish">
                    <div class="text5">Dinner cruises on Ganga</div>
                </div>
            </div>
            <div class="food">
                <img src="images/food4.jpg" alt="Avatar" class="image">
                <div class="dish">
                    <div class="text5">EVENING cruises</div>
                </div>
            </div>
        </div>
    </div>
    <!-- sports -->
    <div class="best1">
        <h1><i class="fa fa-circle" aria-hidden="true"></i> &nbsp;Sports</i></h1>
        <div class="grid1">
            <div class="food1">
                <img src="images/play1.webp" alt="Avatar" class="image">
                <div class="dish1">
                    <div class="text6">Chess competition</div>
                </div>
            </div>
            <div class="food1">
                <img src="images/play2.webp" alt="Avatar" class="image">
                <div class="dish1">
                    <div class="text6">sports summer camp</div>
                </div>
            </div>
            <div class="food1">
                <img src="images/play3.png" alt="Avatar" class="image">
                <div class="dish1">
                    <div class="text6">cyclothon</div>
                </div>
            </div>
            <div class="food1">
                <img src="images/play4.png" alt="Avatar" class="image">
                <div class="dish1">
                    <div class="text6">Family fun run</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newslatter Section Begin -->
    <section class="newslatter-section">
        <div class="container">
            <div class="newslatter-inner set-bg">
                <div class="ni-text">
                    <h3>Subscribe EveBook</h3>
                    <p>Subscribe and don't miss anything</p>
                </div>
                <form action="#" class="ni-form">
                    <input type="text" placeholder="Your email">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Newslatter Section End -->
    








































    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>