<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Evebook - Book Your Events Here</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- custom css file link -->
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>

    <!--header section starts-->
    <header class="header">

        <a href="/index" class="logo"><span>e</span>ve<span>b</span>ook</a>

        <nav class="navbar">
            <a href="/index">home</a>
            <a href="/event">events</a>
            <a href="/ticket">Tickets</a>
            <a href="/contact">contact</a>
        </nav>

        <div id="menu-bars" class="fas fa-bars"></div>

    </header>

    <!--header section ends -->


    <!-- home section starts-->

    <section class="home" id="home">

        <div class="content">
            <h3>Book tickets for the best <span>events</span> around you</h3>
            <a href="/ticket" class="btn">Book Tickets</a>
        </div>

        <div class=" swiper-container home-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="images/slide-1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/slide-2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/slide-3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/slide-4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/slide-5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/slide-6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/slide-7.jpg" alt=""></div>
            </div>
        </div>

    </section>

    <!-- home section ends -->

    <!--Events section starts-->

    <section class="events" id="events">

        <h1 class="heading"><span>Events </span>we take care of</h1>

        <div class="box-container">

            <div class="box">
                <i class="fas fa-music"></i>
                <h3>concerts</h3>
                <p>A concert is a live music performance in front of an audience. The performance may be carried by a single musician, sometimes then called a recital, or by a musical ensemble, such as an orchestra, choir, or band.</p>
            </div>

            <div class="box">
                <i class="fas fa-masks-theater"></i>
                <h3>Drama</h3>
                <p>Drama is the specific mode of fiction represented in performance: a play, opera, mime, ballet, etc., performed in a theatre, or on radio or television.</p>
            </div>

            <div class="box">
                <i class="fas fa-microphone-lines"></i>
                <h3>Stand-up Comedy</h3>
                <p>Stand-up comedy is a type of comedy performance directed to a live audience in which the performer stands on a stage and delivers humorous and satirical monologues.</p>
            </div>

            <div class="box">
                <i class="fas fa-utensils"></i>
                <h3>Food Festival</h3>
                <p>A food festival is a festival, that features food, often produce, as its central theme.</p>
            </div>

            <div class="box">
                <i class="fas fa-volleyball"></i>
                <h3>Sports</h3>
                <p>A human activity involving physical exertion and skill as the primary focus of the activity, with elements of competition or social participation</p>
            </div>

            <div class="box">
                <i class="fas fa-dragon"></i>
                <h3>Fairs</h3>
                <p>Fair is usually termed as a gathering of people for certain entertainment or commercial activities. </p>
            </div>
        </div>

    </section>

    <!--Events section ends-->

    <!-- About section starts-->

    <section class="about" id="about">

        <h1 class="heading"><span>about</span> us </h1>

        <div class="row">

            <div class="image">
                <img src="images/about-img.jpg" alt="">
            </div>

            <div class="content">
                <h3>We will make your bookings seemless</h3>
                <p>We're experience finders and enablers of fun, with tickets to everything from the latest in live sports events, to music festivals and concerts, standup comedy and open mic shows, food and shopping festivals, theatre, workshops and then some.</p>
                <p>We’re big believers in the transformational power of shared experiences, and the ability of creative arts and technology to drive change in ourselves and our communities. Outside of figuring out when your friend is free, we make sure we get you the experiences you love, or will fall in love with, and get you there fast.</p>

                <a href="/contact" target="_blank" class="btn">contact us</a>

            </div>

        </div>

    </section>

    <!-- About section ends-->

     <!-- Team Member Section Begin -->
     <section class="team-member-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 style="font-size: 50px;text-align: center;color: gold;">Who's speaking</h2>
                        <p style="font-size: 25px;text-align: center;color: white;">These are our communicators, you can see each person information</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="member-item">
            <img src="./images/member-10.jpg" alt="">
            <!-- <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> -->
            <div class="mi-text">
                <h5>Daniel Sandoval</h5>
                <span>Speaker</span>
            </div>
        </div>
        <div class="member-item">
            <img src="./images/member-9.jpg" alt="">
            <!-- <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> -->
            <div class="mi-text">
                <h5>Emma Ray</h5>
                <span>Speaker</span>
            </div>
        </div>
        <div class="member-item ">
            <img src="./images/member-8.jpg" alt="">
            <!-- <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> -->
            <div class="mi-text">
                <h5>Andrew Brown</h5>
                <span>Speaker</span>
            </div>
        </div>
        <div class="member-item">
            <img src="./images/member-7.jpg" alt="">
            <!-- <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> -->
            <div class="mi-text">
                <h5>Steve Jhon</h5>
                <span>Speaker</span>
            </div>
        </div>
        <div class="member-item">
            <img src="./images/member-6.jpg" alt="">
            <!-- <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> -->
            <div class="mi-text">
                <h5>Alice Bell</h5>
                <span>Speaker</span>
            </div>
        </div>
        <div class="member-item">
            <img src="./images/member-5.jpg" alt="">
            <!-- <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> -->
            <div class="mi-text">
                <h5>Rose Sandol</h5>
                <span>Speaker</span>
            </div>
        </div>
        <div class="member-item ">
            <img src="./images/member-4.jpg" alt="">
            <!-- <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> -->
            <div class="mi-text">
                <h5>Olivea Evan</h5>
                <span>Speaker</span>
            </div>
        </div>
        <div class="member-item ">
            <img src="./images/member-3.jpg" alt="">
            <!-- <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> -->
            <div class="mi-text">
                <h5>Jackson Ward</h5>
                <span>Speaker</span>
            </div>
        </div>
        <div class="member-item">
            <img src="./images/member-2.jpg" alt="">
            <!-- <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> -->
            <div class="mi-text">
                <h5>Junia Sandoval</h5>
                <span>Speaker</span>
            </div>
        </div>
        <div class="member-item">
            <img src="./images/member-1.jpg" alt="">
            <!-- <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> -->
            <div class="mi-text">
                <h5>Dvid Celebo</h5>
                <span>Speaker</span>
            </div>
        </div>
        <div class="member-item">
            <img src="./images/member-10.jpg" alt="">
            <!-- <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> -->
            <div class="mi-text">
                <h5>Jhon Doval</h5>
                <span>Speaker</span>
            </div>
        </div>
        <div class="member-item">
            <img src="./images/member-9.jpg" alt="">
            <!-- <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div> -->
            <div class="mi-text">
                <h5>Annie Sanal</h5>
                <span>Speaker</span>
            </div>
        </div>
    </section>
    <!-- Team Member Section End -->

    <!-- Pricing Section Begin -->
    <section class="pricing-section set-bg spad" data-setbg="images/pricing-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Ticket Pricing</h2>
                        <p>Get your event ticket plan</p>
                    </div>
                </div>
            </div>
            <div class="row1">
                <div class="col-lg-6 col-md-6 ">
                    <div class="price-item">
                        <h4>1 Day Pass</h4>
                        <div class="pi-price">
                            <h2 ><span>$</span>129</h2>
                        </div>
                        <ul>
                            <li>One Day Conference Ticket</li>
                            <li>Coffee-break</li>
                            <li>Lunch and Networking</li>
                            <li>Keynote talk</li>
                            <li>Talk to the Editors Session</li>
                        </ul>
                         <!-- ** -->
                        <a href="/purchase" target="_blank" class="price-btn"  style="background-color: rgb(235, 73, 73);">Get Ticket </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="price-item top-rated">
                        <div class="tr-tag">
                            <i class="fa fa-star"></i>
                        </div>
                        <h4>Full Pass</h4>
                        <div class="pi-price">
                            <h2><span>$</span>199</h2>
                        </div>
                        <ul>
                            <li>One Day Conference Ticket</li>
                            <li>Coffee-break</li>
                            <li>Lunch and Networking</li>
                            <li>Keynote talk</li>
                            <li>Talk to the Editors Session</li>
                            <li>Lunch and Networking</li>
                            <li>Keynote talk</li>
                        </ul>
                         <!-- ** -->
                        <a href="/purchase" target="_blank" class="price-btn "  style="background-color: rgb(235, 73, 73);">Get Ticket</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="price-item">
                        <h4>Group Pass</h4>
                        <div class="pi-price">
                            <h2><span>$</span>79</h2>
                        </div>
                        <ul>
                            <li>One Day Conference Ticket</li>
                            <li>Coffee-break</li>
                            <li>Lunch and Networking</li>
                            <li>Keynote talk</li>
                            <li>Talk to the Editors Session</li>
                        </ul>
                        <!-- ** -->
                        <a href="/purchase" target="_blank" class="price-btn" style="background-color: rgb(235, 73, 73);">Get Ticket </a> 
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Newslatter Section Begin -->
     <section class="newslatter-section">
        <div class="container">
            <div class="newslatter-inner set-bg">
                <div class="ni-text">
                    <h3>Subscribe EveBook</h3>
                    <p>Subscribe and don't miss anything</p>
                </div>
                <form action="#" class="ni-form">
                    <input type="text" placeholder="Your email">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Newslatter Section End -->
    


















    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- custom js file link -->
    <script src="/script.js"></script>


</body>

</html>