<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/login.css">
    <title>Login to Evebook</title>
</head>

<body>
    <div class="ban center">
        <div class="banrap">


            <div class="main">
                <div class="login">
                    <form action="/login" method="post">
                        <label for="chk" aria-hidden="true">Login</label>
                        <input type="email" name="email" placeholder="Email" id="tcostt" required="" autocomplete="off">
                        <input type="password" name="password" placeholder="Password" id="pwdd" required="" autocomplete="off">
                        <button type="submit">Login</button>
                        <a href="signup">New User?Signup Here</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>